* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #f4f4f4;
    --color-dark: #333333;
    --color-pink: #dc143c;
    --transition: .5s;
    --space-10: 1rem;
    --space-20: 2rem;
    --space-40: 4rem;
    --radius: 0.7rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    background-color: var(--color-light);
}

.container {
    width: 80%;
    min-height: 30vh;
    margin: var(--space-40) auto;
    padding: var(--space-40);
    background-color: var(--color-dark);
    text-align: center;
    border-radius: var(--radius);
}

.container-title {
    font-size: 6vmin;
    color: var(--color-light);
    margin-bottom: var(--space-20);
}

.icon {
    font-size: 7vmin;
    color: var(--color-light);
    margin: var(--space-10);
    padding: var(--space-20);
    border: 1px solid var(--color-light);
    border-radius: var(--radius);
    transition: var(--transition);
}

.icon:hover {
    border-color: var(--color-pink);
    background-color: var(--color-pink);
}