@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

body {
    font-family: 'Catamaran', sans-serif;
}


div {
    width: 90%;
    height: 500px;
    margin: 10px auto;
    padding: 30px 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.2)), 
    url(../images/pexels-burak-the-weekender-733758.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 7px;    
}

div h2 {
    font-size: 45px;
    margin: 50px 30px;
    color: #fff;       
}

div p {
    margin: 30px 30px 60px;
    width: 40%;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

div a {
    margin: 30px;
    text-decoration: none;
    border: 2px solid rgb(82, 147, 211);
    background-color: rgb(82, 147, 211);
    color: #fff;
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 600;
}

div a:hover{
    background-color: transparent;
    color: rgb(82, 147, 211);
}


ul {list-style: none;}
li::before{
    content: "\2192";
    /* Código Unicode para a seta para a esquerda */
    margin-right: 5px;
    /* Adiciona um espaço entre o ícone e o texto do link */
}