* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

:root {
  --color-1: #fff;
  --color-2: #060b33;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  color: var(--color-2);
}

/* header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 0;
}

header h1 {
  font-size: 6vmin;
  margin-bottom: 15px;
}

.header-menu ul {
  display: flex;
  gap: 20px;
}


.header-menu a {
  color: var(--color-2);
  font-weight: 900;
  font-size: 1.5rem;
}

/* banner */
.banner {
  background: url(../images/banner.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-1);
  text-align: center;
}

.banner h2 {
  margin: 20px 0;
  font-size: 3rem;

}

.banner h3 {
  font-size: 2rem;
  /* margin-bottom: 15px; */
}

.banner .btn {
  margin-top: 20px;
  background: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 4px;
  color: var(--color-1);
  padding: 20px 50px;
  text-align: center;
  font-weight: 900;
  transition: .5s;
  font-size: 1.5rem;
}

.banner .btn:hover {
  background: transparent;
  color: var(--color-2);
}

/* informacoes */
.informacoes {
  background: var(--color-2);
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  text-align: center;
}

.informacoes h3 {
  font-size: 2rem;
  margin-bottom: 35px;
}

.informacoes p {
  max-width: 800px;
  margin-bottom: 35px;
  font-size: 1.2rem;
  text-align: center;
}

.informacoes hr {
  width: 200px;
  height: 2px;
  background: var(--color-1);
  margin-bottom: 70px;
  border: none;
}

.informacoes .item {
  width: 100%;
  display: flex;
}

.informacoes .item li {
  padding: 0 30px;
  text-align: center;
}

.informacoes .item li i {
  color: var(--color-1);
  font-size: 50px;
  margin-bottom: 30px;
}

.informacoes .item li h4 {
  color: var(--color-1);
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.informacoes .item li p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* cadastro */
.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.cadastro h3 {
  font-size: 2rem;
  margin-bottom: 35px;
}

.cadastro p {
  max-width: 800px;
  margin-bottom: 35px;
  font-size: 1.2rem;
  text-align: center;
}

.cadastro form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
}

.cadastro form input {
  padding: 15px;
  border: 1px solid var(--color-2);
  border-radius: 4px;
  margin-right: 15px;
  width: 300px;  
}

.cadastro form button {
  padding: 15px;
  background: var(--color-2);
  color: var(--color-1);
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-2);
  padding: 50px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: var(--color-1);
  font-size: 2.5em;
}

footer p {
  color: var(--color-1);
  text-align: center;
}

@media (max-width: 850px) {
  .informacoes .item {
    flex-direction: column;
  }
}
/* media querie para todos */
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: 15px;
  }

  .banner {
    margin-top: 50px;
  }

  .banner h1 {
    font-size: 2.3rem;
  }

  .banner h3 {
    font-size: 1.3rem;
  }

  .cadastro input {
    margin-bottom: 15px;
  }
}
