/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
  
}

a {
    text-decoration: none;
    color: #333;
}

/* Estilos do header */
.header {
    background-color: #f1f1f1;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* Estilos do hero */
.hero {
    background-color: #000;
    color: #fff;
    padding: 5rem;
    text-align: center;
    display: grid;
    grid-template-areas: "title" "subtitle";
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    grid-area: title;
}

.hero p {
    font-size: 2rem;
    grid-area: subtitle;
}

/* Estilos dos cards */
.cards {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
        "card1 card2 card3"
        "card4 card5 card6";
    margin: 5rem 0;
    padding: 0 2rem;
}

.card {
    border-radius: 5px;
    background-color: #d4d4d4;
    padding: 2rem;
    text-align: center;
}

.card h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.card p {
    font-size: 1.8rem;
    color: #666;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

/* Estilos do rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "copyright";
}

.footer-content {
    grid-area: copyright;
}