/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* variáveis */
:root {
    --color-light: #ffffff;
    --color-blue: #6959c5;
    --transition: .5s;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* formatações genéricas */
a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 900;
    transition: var(--transition);
}

img {
    max-width: 100%;
}


.btn {
    background-color: var(--color-blue);
    border: 2px solid var(--color-blue);
    padding: 8px 3.5rem;
    border-radius: 5px;
    color: var(--color-light);
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-blue);
}


/*********************************  hero   *****************************/
.hero {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .3), rgba(4, 9, 30, .9)),
        url(../images/emcasa.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 60%;
    padding: 5rem;
    color: var(--color-light);
}


.hero-content h2 {
    font-size: 7vmin;
}

.hero-content p {
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 3.6rem;
}

/********************************* fim hero *****************************/

/********************************* hotel *****************************/
.hotel-title {
    font-size: 5vmin;
    text-align: center;
    margin: 4rem 0 2rem;
    color: var(--color-blue);
}

.hotel-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.hotel-item {
    width: 28%;
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: var(--transition);
}

.hotel-item:hover {
    transform: scale(1.1);
}

.hotel-item img {
    width: 90%;
    border-radius: 5px;
}

.hotel-item h3 {
    margin: 2rem 0;
    font-weight: 800;
}

.hotel-item p {
    margin: 0 0 3rem;
    width: 80%;
}
/******************************* fim hotel ***************************/