* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 90%;
    height: 100vh;
    margin: 30px auto;    
}

h1 {
    font-size:45px;
    margin: 20px 0;
    border-bottom: 1px solid #000;
}

h2 {
    font-size:35px;
    color: #dc143c;
}

